<div class="panel panel-default">
    <div class="panel-heading" style="background-color: #2A0247; text-align: center; color: white;">
    	<%= author %>
    </div>
    <div class="panel-body" style="background-color: #54038F; color: white;">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="<%= Flyer.url %>" width="40%">
            </div>
        </div>
    	<%= Description %>
    </div>

    <div class="panel-footer" style="height: 55px;">
 
    			<div id="payment" class="col-md-4 text-center">
    				<button class="btn btn-link reserve" type="submit"><a href="#payment/<%= objectId %>">Réserver (<%= price %> euros)</a></button>
				</div>

                <div id="photo" class="col-md-4 text-center">
                    <button id="button_photo" class="btn btn-link album"><a id="album">Album Photo</a></button>
                </div>

				<div id="vip" class="col-md-4 text-center">
    				<button class="btn btn-link vip"><a target="_blank" href="http://VIP.benight.cc">Espace VIP</a></button>
				</div>
			</td>
		</tr>
	</table>
</div>